/* Start Center the loader */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* End Center the loader */

  
/*--- Xloader ---*/
.zloader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    height: 16px;
    width: 80%;
    max-width: 400px;
    border: 2px solid #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Stronger shadow */    
}

.zloader::after {
    content: '';
    width: 40%;
    height: 100%;
    background: #3498db;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}
    
@keyframes animloader { 
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}
    
  